<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      {% if title %}
      <title>{{ title }} - MarvNet</title>
      {% else %}
      <title>MarvNet</title>
      {% endif %}
      <link rel="/static/mdb/css/mdb.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="/static/mdb/js/popper.min.js"></script>
      <script src="/static/mdb/js/mdb.min.js"></script>
      <script src="//apis.google.com/js/platform.js?onload=start"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>